body {
  margin: 0;
  font-family: "Montserrat";
}
.nav_menu {
  background-color: rgb(11, 170, 109);
  overflow: hidden;
}

.nav_menu a {
  color: white;
  padding: 18px 16px;
  margin-left: 5px;
  display: block;
  float: left;
  text-decoration: none;
}

.nav_menu a.icon {
  display: none;
}
.nav_menu a:hover {
  background-color: #00000018;
}

@media screen and (max-width: 600px) {
  .nav_menu a:not(:first-child) {
    display: none;
  }
  .nav_menu a.icon {
    display: block;
    float: right;
  }

  .nav_menu.show a {
    display: block;
    width: 100%;
  }

  .nav_menu.show a.icon {
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    float: right;
  }
}
