body {
  margin: 0;
  font-family: "Montserrat";
}
.container {
  display: block;
  width: calc(100%);
  margin-inline: auto;
  /* border: 1px solid black; */
}
.pd {
  display: block;
  width: calc(100% - 10rem);
  margin-inline: auto;
}

.nav_menu {
  background-color: rgb(17, 189, 31);
  overflow: hidden;
}

.nav_menu a:first-child {
  margin-left: 20px;
}

.nav_menu a {
  color: white;
  padding: 18px 16px;
  margin-left: 5px;
  display: block;
  float: left;
  text-decoration: none;
}

.nav_menu a.icon {
  display: none;
}
.nav_menu a:hover:not(:first-child) {
  background-color: #00000018;
}

@media screen and (max-width: 600px) {
  .nav_menu a:not(:first-child) {
    display: none;
  }
  .nav_menu a.icon {
    display: block;
    float: right;
  }

  .nav_menu.show a {
    display: block;
    width: 100%;
  }

  .nav_menu.show a.icon {
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    float: right;
  }
}

.kolom {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196f3; */

  padding: 10px;
}

.grid-item {
  display: block;
  width: 100% !important;

  aspect-ratio: 9/16;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(161, 161, 161);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  display: inline-block;
  max-height: 450px;
  overflow: hidden;
}

.card img {
  width: 200px;
  margin-top: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
